<div class="home-wrapper">
<%= render 'shared/nav' %>

  <h3> Welcome to</h3>
  <h1> Snake World!</h1>
  <h4> IF WE DON'T HAVE IT, <br>
  IT'S NOT A SNAKE!</h4>
</div>

<div class="home-image">
<%= image_tag "Snake_1.jpg", alt: "this is a snake's face" %>

</div>



